################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/backend/.vs/backend/FileContentIndex/a4981ba1-7c2b-4185-a708-e916602e02d9.vsidx
/backend/.vs/backend/FileContentIndex/73fe22ab-4bf8-49c9-9753-f8cfd9820bf5.vsidx
/backend/.vs/backend/FileContentIndex/4d2dbb84-e4bc-4189-9a04-2571e3198679.vsidx
/backend/.vs/backend/FileContentIndex/3b4427ea-a264-45c4-bcfe-59e43e936381.vsidx
/backend/.vs/backend/FileContentIndex/318aad0a-1894-4cbd-bd04-96a8248a4ad4.vsidx
